<?xml version="1.0" encoding="utf-8" ?>
<resources>
    <Resource id="webpollDb" type="javax.sql.DataSource">
        factory = org.apache.tomcat.jdbc.pool.DataSourceFactory
        jdbcDriver = org.postgresql.Driver
        jdbcUrl = ${jdbcUrl}
        userName = ${userName}
        password = ${password}
        timeBetweenEvictionRunsMillis = 60000
        removeAbandoned = true
        minEvictableIdleTimeMillis = 120000
        maxWaitTime = 5000
    </Resource>
</resources>
